body {
    font-family:  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    background-image: url(../images/black-bg.PNG);
    background-repeat:;

  }  
  
  /*CSS FOR SIDE NAVIGATION*/
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-image: linear-gradient(aqua,violet);
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav a:active{
    background-color: black;
  }

  /* CSS FOR MAIN DIV AS WELL AS HOME PAGE*/
  .main {
    margin-left: 250px; 
    font-size: 20px;
    padding-left: 20px;
    color: white;
   
   }
   
.header-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 10px solid silver;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: -0px;
}

.tagline{
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}
  .title-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 60px;
}
.link_container{
  margin: auto;
  width: 100%;
  text-align: center;
  height: 32px;
  padding: 5px;
}

.link_container img{
  width: 24px;
  height: 24px;
}
 
/* CSS FOR CARD HOLDER OF MAIN SECTION*/
.card-holder {
  margin-left: 250px;
  display: flex;
}
.card-title{
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}
.card-img {
  width: 150px;
  height: 150px;
  text-align: center;
}
.flip-card {
  background-color: blue;
  width: 300px;
  height: 200px;
  perspective: 1200px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  display: flexbox;
  position: absolute;
  width: 98%;
  height: 98%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: top;
  color: #16437E;
  text-align: center
}
.flip-card-back {
  display: flexbox;
  position: absolute;
  width: 98%;
  height: 98%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: top;
  color: #16437E;
  text-align: start;
}
.flip-card-front {
  background-color:darkblue;
  color: white;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  padding-left: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* EXPERIENCE RELATED CSS*/
.experience {
  margin-left: 250px;
  color: white;
  text-align: center;
}
.exp-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.exp-info-card {
  border-left: 10px solid  #000851;
  text-align: start;
  background: whitesmoke;
  padding: 5px;
  color: black;
  width: 320px;
}

.exp-info-card > h1,h2,h3,h4,p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* TRAINING RELATED SECTION CSS*/
.training {
  margin-left: 250px;
  min-height: 650px;
}
.course-container {
	font-family: 'Muli', sans-serif;
	display: flex;
  flex-wrap: wrap;
  width: 100%;
	margin: 0;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 10px;
	overflow: hidden;
  width: 100%;
}
.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	width: 250px;
}
.course-info {
	padding: 30px;
	position: relative;
  min-width: 300px;
}
.course-details {
	padding: 30px;
	position: relative;
  width: 350px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  margin-block-start: 0em;
    margin-block-end: 0em;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}
.checked {
	color: orange;
  }


.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
  padding-bottom: 0px;
	padding: 12px 25px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	letter-spacing: 1px;
  cursor: pointer;
}
/* CSS FOR EDUCATION SECTION*/
.education-container {
  background-image: linear-gradient(red, green, blue);
  display: flex;
  flex-wrap: nowrap;
  margin-left: 250px;
  justify-content: space-between;
  }

.education {
  font-family:Tahoma;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: #000851;
  text-align: center;
  border:1px solid #860a80 ;
  padding: 10px;
}
.education h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: uppercase;
  opacity: 0.5;
  text-align: start;
}
.education h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;

  text-align: start;
}
.education img {
  width: auto;
  height: 150px
}

.education-details {
  font-family:Tahoma;
  padding: 10px;
  max-width: 300px;
  text-align: start;
}

/* CSS FOR EDUCATION SECTION*/
.contact  {
  margin-left: 250px; 
  font-size: 20px;
  padding-left: 20px;
  color: white;
 
 }